<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>My Cart</title>
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">{{ username }} Cart</a>
                <input id="searchInput" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search for books" aria-label="Search" name="query" >
            </div>
        </nav>
    </header>

    <hr class="my-4">

    <main class="container mt-5 mb-4">
        <div class="row row-cols-1 row-cols-md-3 mb-3">
            {% for product in products %}
                <div class="col mb-4 product-card">
                    <div class="card">
                        <img src="https://via.placeholder.com/50" alt="{{ product['title'] }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product[0].name }}</h5>
                            <p class="card-text">Price: ${{ product[0].price }}</p>
                            <p class="card-text">Stock: {{ product[0].stock }}</p>
                            <div class="row align-items-center">
                                <div class="col">
                                    <form class="d-inline" action="/decrease-cart" method="post">
                                        <input type="hidden" name="product_name" value="{{ product[0].name }}">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col text-center">
                                    <span id="quantity_{{ product[0].id }}">{{ product[1] }}</span>
                                </div>
                                <div class="col">
                                    <form class="d-inline" action="/increase-cart" method="post">
                                        <input type="hidden" name="product_name" value="{{ product[0].name }}">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col text-right">
                                    <form class="d-inline" action="/remove-cart" method="post">
                                        <input type="hidden" name="product_name" value="{{ product[0].name }}">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>


    <footer>
        <!-- Footer content here -->
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchInput');
            const productContainer = document.getElementById('productContainer');

            searchInput.addEventListener('input', function() {
                const query = searchInput.value.toLowerCase();
                const products = document.querySelectorAll('.product-card');

                products.forEach(function(product) {
                    const productName = product.querySelector('.card-title').textContent.toLowerCase();
                    if (productName.includes(query)) {
                        product.style.display = 'block';
                    } else {
                        product.style.display = 'none';
                    }
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
